.section {
  padding: 4rem 0;
}

.services {
  &__wrapper {
    display: flex;
    flex-direction: row;
  }

  &__content {
    display: block;

    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 8rem;
    }

    & .card {
      margin-top: 4rem;
    }
  }

  &__bookmark {
    display: none;
    width: 100%;
    max-width: 100px;
    align-items: center;

    @include media-breakpoint-up(lg) {
      display: flex;
    }
  }

  &__bookmark-title {
    color: $faded;
    max-width: 100%; // TODO: Check this fix.
    font-size: 4rem;
    transform: rotate(-90deg);
  }
}