// Colour palette
$black: #000;
$white: #fff;
$blue: #2b64b5;
$dark-gray: #474747;

// Theme
$primary: $blue;

// Fonts
$font-size-base: 1rem;
$body-font-family: 'Roboto', sans-serif;

// Container & grid
$gutter-width: 15px;

// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

// Misc
$zindex-max: 999;
