<!DOCTYPE html>
<html lang="en">
  <body>
    <header class="navbar" aria-label="Main navigation">
      <a class="navbar__brand" href="#">
        <img src="./assets/logo.svg" alt="Energy logo" />
      </a>
      <button id="primary-toggler" class="toggler navbar__toggle" type="button" aria-label="Toggle navigation" aria-controls="navigation">
        <span class="toggler__box">
          <span class="toggler__inner"></span>
        </span>
      </button>
      <nav id="primary-nav" class="navbar__content">
        <ul class="navbar__nav">
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Home</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Bundles</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Save Energy & Money</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Product & Services</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Start, Stop & Move</a>
          </li>
        </ul>
      </div>
    </header>
    <main>
      <div class="hero hero--overlay" style="background-image: url(./assets/windfarm.jpg);">
        <div class="hero__content">
          <div class="container">
            <h1 class="hero__title">Pay Less, Get More</h1>
            <p class="hero__strapline">Save on your bill through our broadband and energy bundle</p>
            <div class="hero__badges">
              <img class="hero__badge" src="./assets/google-play.png" height="38px" width="auto" alt="Google Play badge" />
              <img class="hero__badge" src="./assets/app-store.png" height="38px" width="auto" alt="App Store badge" />
            </div>
          </div>
        </div>
      </div>
      <section class="section services">
        <div class="container">
          <div class="services__content">
            <div class="services__content-left">
              <div>
                <h3>Services & <span class="accent">Solution</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dapibus tortor sit amet metus hendrerit, id tempus libero sodales. Vestibulum non rutrum augue. Mauris lobortis vehicula orci eu finibus. Proin molestie turpis dolor, ut vestibulum dolor fringilla sed. In interdum enim ac ante vestibulum rutrum sit amet ac risus</p>
              </div>
              <div class="card">
                <img src="./assets/card-placeholder.jpg" class="card__img" alt="Card image">
                <div class="card__content">
                  <h4 class="card__heading">Cost Management</h4>
                  <p class="card__body">Sed vulputate ex suscipit lobortis sagittis. Sed lacinia dui eu lectus vulputate congue. Sed sit amet magna nibh. Aliquam nec ex diam. In a orci et velit finibus consectetur nec vel orci.</p>
                  <a href="#" class="card__link">Read more</a>
                </div>
              </div>
              <div class="card">
                <img src="./assets/card-placeholder.jpg" class="card__img" alt="Card image">
                <div class="card__content">
                  <h4 class="card__heading">Energy Conservation</h4>
                  <p class="card__body">Sed vulputate ex suscipit lobortis sagittis. Sed lacinia dui eu lectus vulputate congue. Sed sit amet magna nibh. Aliquam nec ex diam. In a orci et velit finibus consectetur nec vel orci.</p>
                  <a href="#" class="card__link">Read more</a>
                </div>
              </div>
            </div>
            <div class="services__content-right">
              <div class="card">
                <img src="./assets/card-placeholder.jpg" class="card__img" alt="Card image">
                <div class="card__content">
                  <h4 class="card__heading">Energy Services</h4>
                  <p class="card__body">Sed vulputate ex suscipit lobortis sagittis. Sed lacinia dui eu lectus vulputate congue. Sed sit amet magna nibh. Aliquam nec ex diam. In a orci et velit finibus consectetur nec vel orci.</p>
                  <a href="#" class="card__link">Read more</a>
                </div>
              </div>
              <div class="card">
                <img src="./assets/card-placeholder.jpg" class="card__img" alt="Card image">
                <div class="card__content">
                  <h4 class="card__heading">Management Programs</h4>
                  <p class="card__body">Sed vulputate ex suscipit lobortis sagittis. Sed lacinia dui eu lectus vulputate congue. Sed sit amet magna nibh. Aliquam nec ex diam. In a orci et velit finibus consectetur nec vel orci.</p>
                  <a href="#" class="card__link">Read more</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
