<!DOCTYPE html>
<html lang="en">
  <body>
    <header class="navbar" aria-label="Main navigation">
      <a class="navbar__brand" href="#">
        <img src="./assets/logo.svg" alt="Energy logo" />
      </a>
      <button id="primary-toggler" class="toggler navbar__toggle" type="button" aria-label="Toggle navigation" aria-controls="navigation">
        <span class="toggler__box">
          <span class="toggler__inner"></span>
        </span>
      </button>
      <nav id="primary-nav" class="navbar__content">
        <ul class="navbar__nav">
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Home</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Bundles</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Save Energy & Money</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Product & Services</a>
          </li>
          <li class="navbar__nav-item">
            <a href="#" class="navbar__nav-link">Start, Stop & Move</a>
          </li>
        </ul>
      </div>
    </nav>
  </body>
</html>
